@model IEnumerable<OnlineShop.ViewModels.Area.Base.ProductSpecification.ProductSpecificationListDto>

<<<<<<< HEAD
<div class="specification-table">
    <table>
        @{
            foreach (var item in Model)
            {
                <tr class="m-5 ">

                    <td style="overflow-wrap: anywhere;" class="text-right ">
                        <div>
                            @item.SpecificationValue
                        </div>
                    </td>
                    <td class="p-catagory text-right mr-2"> @item.SpecificationName</td>
                </tr>
            }
        }
    </table>
</div>
=======
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-right table-hover  table-sm">
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="height-auto"> @item.SpecificationName </td>
                            <td style="overflow-wrap: anywhere;">@item.SpecificationValue</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
