@model OnlineShop.ViewModels.Area.Base.Sizes.SizeDto
<partial name="_CustomValidationSummary" />

@using(Html.AjaxBeginForm("Create",new AjaxOptions
{
    HttpMethod = "post"
}))
{
    <div class="card _borderTop  _shadow ">
        <div class="card-header ">
            <partial name="_CardHeader" model="CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="Name"></CustomInput>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="UserCode"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="Description"></CustomInput>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="ForeignName"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group ">
                        <CustomCheckBox asp-for="InActive"></CustomCheckBox>
                    </div>
                </div>
                <br>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
}