@model OnlineShop.ViewModels.Area.Base.ProductSpecification.ProductSpecificationListDto

<div id="ProductGeneralInformation" class="card card-outline card-green  GeneralInformation">
</div>
<partial name="_List" model="@Model" />

<script>
    $(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: "/" + "Identity" + "/" + "Product" + "/GetInfo/" + '@Model.ProductId',
            success: function (viewHTML) {
                $("#ProductGeneralInformation").html(viewHTML);
            },
            error: function (errorData) { onError(errorData); }
        });
    });
</script>