@model OnlineShop.ViewModels.Area.Base.ProductPriceModificatin.ProductPriceModificatinListDto

<div id="ProductPriceModificatinGeneralInformation" class="card card-outline card-green  GeneralInformation">
</div>
<partial name="_ProductPriceModificatintList" model="@Model" />

<script>
    $(function () {
        debugger;
        $.ajax({
            type: "GET",
            url: "/" + "Identity" + "/" + "ProductDetail" + "/GetInfo/" + '@Model.ProductDetailId',
            success: function (viewHTML) {
                $("#ProductPriceModificatinGeneralInformation").html(viewHTML);
            },
            error: function (errorData) { onError(errorData); }
        });
    });
</script>