@model OnlineShop.Entities.Entities.Area.Base.Colors.ColorDto



<form asp-action="Edit" method="post">

    <div class="uk-card uk-card-default  uk-card-hover ">
        <partial name="_CustomValidationSummary" />

        <div class="uk-card-header">
            <partial name="_CardHeader" />
        </div>
        <div class="uk-card-body">
            <div class="row">
                @Html.HiddenFor(m => m.Id)


                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="Name" class=" col-form-label text-md-left"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>
                </div>
            </div>

        </div>
        <partial name="_CardFooter">
    </div>




</form>