@model OnlineShop.ViewModels.Area.Base.PartDto

<form asp-action="Edit" method="post">

    <div class="card">
        <div class="card-header">
            <partial name="_CardHeader" />
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">

                        <label asp-for="Title" class=" col-form-label text-md-left"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="Name" class=" col-form-label text-md-left"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="CheckBoxFrame">
                        <div class="form-group">
                            <label asp-for="InActive" class="col-form-label text-md-left"></label>
                            <input asp-for="InActive" class="uk-checkbox" />
                            <span asp-validation-for="InActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            <partial name="_CardFooter">
        </div>
        <!-- /.card-footer -->
    </div>
</form>