@using OnlineShop.Web.Areas.Identity
@{
    ViewData["Title"] = "خانه";
}

    <div class="alert alert-success mt-5">
        <a href="#" class="close" data-dismiss="alert">×</a>
        farhad

        <a class="nav-item nav-link" asp-area="@AreaConstants.IdentityArea" asp-controller="Part" asp-action="Index">
            <span class="fas fa-plug" aria-hidden="true"></span>
            قطعه
        </a>

</div>