@using Microsoft.EntityFrameworkCore.Metadata.Internal
@{
    var pageTitle = ViewData["Title"] ?? "ASP.NET Core Identity Sample";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>@pageTitle</title>
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/uikit.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/datatables.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/CustomSite.css" rel="stylesheet" asp-append-version="true" />
    @*LTE*@
    <link href="~/css/AdminLTE.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/skins/skin-blue.min.css" rel="stylesheet" asp-append-version="true" />
    @*<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">*@

    <script src="~/js/uikit.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/UikitIcons.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/site.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/datatables.min.js" type="text/javascript" asp-append-version="true"></script>

    @*admin lte*@
    <script src="~/js/app.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/OnlineShop.js" type="text/javascript" asp-append-version="true"></script>


</head>
<body class="skin-blue sidebar-mini">



    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <div class="fixed-top">

                <a href="#" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>فروشگاه </b>آنلاین</span>
                </a>
            </div>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top  fixed-top" role="navigation">
                <!-- Sidebar toggle button-->

                <a href="#" class="uk-margin-small-left text-dark" uk-icon="menu" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        @await Component.InvokeAsync("Menu", new { area = AreaConstants.IdentityArea })
        <!-- Content Wrapper. Contains page content -->
        <div class="  content-wrapper">
            <!-- Content Header (Page header) -->
            <partial name="_Breadcrumb" />

            <div class="container">

                <!-- Main content -->
                <section class="pb-5">

                    <div id="ModalRemove" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <p class="uk-modal-title">حذف</p>
                            </div>
                            <div class="uk-modal-body" id="BodyModal">
                                <p>آیا حذف انجام شود ؟</p>
                            </div>
                            <div class="uk-modal-footer uk-text-right " id="ModalRemoveFooter">
                                <button class="uk-button uk-button-danger uk-modal-close" type="button"><span class="uk-margin-small-right" uk-icon="close"></span></a></button>
                                @*<a class="uk-button uk-button-primary" href="/' + @ViewContext.RouteData.Values["area"] + '/' + @ViewContext.RouteData.Values["controller"] + '/Delete/' + data['id'] + '"><span class="uk-margin-small-right" uk-icon="check"></span></a>*@
                            </div>
                        </div>
                    </div>

                    <div id="MainModal" class="uk-modal-container" uk-modal>
                        <div class="uk-modal-dialog uk-margin-auto-vertical" uk-overflow-auto>
                            <button class="uk-modal-close-default" type="button" uk-close></button>

                            <div class="uk-modal-body" id="MainModalBody">

                            </div>

                        </div>
                    </div>

                    <!-- Modal -->

                    @RenderBody()
                    <!-- Your Page Content Here -->

                </section><!-- /.content -->

            </div><!-- /.content-wrapper -->

        </div>

    </div>
    @await RenderSectionAsync("Scripts", required: false)

</body>


</html>