<dnt-captcha asp-captcha-generator-max="30"
             asp-captcha-generator-min="1"
             asp-captcha-generator-language="Persian"
             asp-captcha-generator-display-mode="SumOfTwoNumbers"
             asp-font-name="Tahoma"
             asp-font-size="20"
             asp-refresh-button-class="fas fa-redo btn-sm"
             asp-fore-color="#333333"
             asp-back-color="#ccc"
             asp-text-box-class="text-box form-control"
             asp-text-box-template="<div class='input-group'><span class='input-group-prepend'><span class='input-group-text'><i class='fas fa-lock'></i></span></span>{0}</div>"
             asp-validation-message-class="text-danger" />