<div class="card-footer ">
    <div class="float-left">

        <button type="submit" class=" btn btn-outline-success btn-flat"><span class=" fa fa-check"></span></button>
        <button type="button" onclick="clearForms()" class="btn btn-outline-danger btn-flat"><span class=" fas fa-times"></span></button>
    </div>
</div>