<div id="carouselExampleControls" class="carousel slide light_arrow" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active background_bg" data-img-src="/layout/assets/images/banner4.jpg">
            <div class="banner_slide_content banner_content_inner">
                <div class="col-lg-8 col-10">
                    <div class="banner_content overflow-hidden">
                        <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s">تا 50٪ تخفیف فقط امروز!</h5>
                        <h2 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">مد زنانه</h2>
                        <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInRight" data-animation-delay="1.5s">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item background_bg" data-img-src="/layout/assets/images/banner5.jpg">
            <div class="banner_slide_content banner_content_inner">
                <div class="col-lg-8 col-10">
                    <div class="banner_content overflow-hidden">
                        <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s">50٪ تخفیف در کلیه محصولات</h5>
                        <h2 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">مد مردانه</h2>
                        <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInRight" data-animation-delay="1.5s">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item background_bg" data-img-src="/layout/assets/images/banner6.jpg">
            <div class="banner_slide_content banner_content_inner">
                <div class="col-lg-8 col-10">
                    <div class="banner_content overflow-hidden">
                        <h5 class="mb-3 staggered-animation font-weight-light" data-animation="slideInRight" data-animation-delay="0.5s">تجربه مشاهده خود را به سطح بعدی می رسانید</h5>
                        <h2 class="staggered-animation" data-animation="slideInRight" data-animation-delay="1s">فروش تابستانی</h2>
                        <a class="btn btn-fill-out rounded-0 staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInRight" data-animation-delay="1.5s">اکنون خرید کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ol class="carousel-indicators indicators_style1">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
    </ol>
</div>