<div class="uk-card-footer">
    <div class="float-left">
        <button class="uk-button uk-button-primary uk-button-small " uk-tooltip="@Resource.submit " type="submit">                         <span uk-icon="check"></span></button>
        <button class="uk-button uk-button-danger uk-button-small  " uk-tooltip="@Resource.Cancel " onclick="clearForms()" type="button"><span uk-icon="close"></span></button>
    </div>
</div>

