@using OnlineShop.Common.Utilities
@model IEnumerable<OnlineShop.ViewModels.Area.CustomerCardItem>

<div id="CustomerCardItems">
    <ul class="nav-right">
        <li class="heart-icon">
            <a href="#">
                <i class="icon_heart_alt"></i>
                <span>1</span>
            </a>
        </li>
        <li class="cart-icon">
            <a href="#">
                <i class="icon_bag_alt"></i>
                <span>@Model.Count()</span>
            </a>
            <div class="cart-hover">
                @{
                    if(Model.Any())
                    {

                        <div class="select-items">
                            <table>
                                <tbody>
                                    @{
                                        foreach(var item in Model)
                                        {

                                            <tr>
                                                <td class="si-pic">
                                                    @*<img src="/Layout/img/select-product-1.jpg" alt="">*@
                                                    <partial name="_CustomerCardDisplayImage" model="item.productId" />
                                                </td>
                                                <td class="si-text text-right">
                                                    <div class="product-selected">
                                                        @*<p>$60.00 x 1</p>
                                                            <h6>Kabino Bedside Table</h6>*@
                                                        <p>@item.price.ToCurrency().ToPersianNumbers() </p>
                                                        <h6>@item.ProductName</h6>
                                                    </div>
                                                </td>
                                                <td class="si-close">
                                                    @Html.AjaxActionLink("","RemovePreOrder","Card",new { productId = item.productId },new AjaxOptions() { UpdateTargetId = "CustomerCardItems" },new { @class = "ti-close" })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="select-total">
                            <span>total:</span>
                            <h5>$120.00</h5>
                        </div>
                        <div class="select-button">
                            <a href="#" class="primary-btn view-card">VIEW CARD</a>
                            <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                        </div>
                    }
                    else
                    {
                        <p>محصولی در سبد کالا وجود ندارد</p>
                    }

                }
            </div>
        </li>
        <li class="cart-price">$150.00</li>
    </ul>
</div>