@model IEnumerable<OnlineShop.ViewModels.Area.Base.ItemSections.ItemSectionListDto>

@{
    @*<div class="product-slider owl-carousel">*@
    <h4>محصولات محبوب</h4>

    <div class="product-slider owl-carousel">
        @{
            foreach(var item in Model)
            {
                <partial name="_DisplayItems" model="item" />
            }
        }
    </div>

}