@model OnlineShop.ViewModels.Area.Base.ItemSections.ItemSectionListDto

<div class="item  ">
    <div class="item-entry">
        <partial name="_DisplayImage" model="@Model.ProductId" />
        <h2 class="item-title text-right pb-2 pr-2">

            @Html.DisplayFor(x => Model.ProductName)
        </h2>
        <div class="text-center ml-2 mr-2 ">

            <span class=" float-left ">
                <del style="color:red">
                    <strong class="item-price text-danger">

                        <span class="float-left"> ريال  </span>
                        <span class="float-right"> @Model.OldPrice </span>
                    </strong>
                </del>
            </span>

            <span class=" float-right ">
                <strong class="item-price text-success">
                    <span class="float-left"> ريال  </span>

                    <span class="float-right"> @Model.Price</span>
                </strong>
            </span>
        </div>

        @*<div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
            </div>*@
        @*<span class="btn-group text-center ">
                <a href="#" class="btn btn-white  btn-block "><span style="color:red;" class="fas  fa-heart "></span></a>
                <a href="#" class=" btn btn-white btn-block"><span style="color:dodgerblue;" class="fas fa-eye "></span></a>
                <a href="#" class=" btn btn-white btn-block"><span style="color:forestgreen" class="fas fa-cart-plus "></span></a>
            </span>*@
    </div>
</div>

@*<div class="row">
        <div class="col-lg-4 col-md-6 item-entry mb-4 ">
            <div class="card">
                <a href="#" class="product-item md-height bg-gray d-block ">
                    <img src="~/Layout/images/prod_2.png" alt="Image" class="img-fluid">
                </a>
                <div class="p-2">
                    <h2 class="item-title"><a href="#">Gray Shoe</a></h2>
                    <strong class="item-price">$20.00</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 item-entry mb-4">
            <div class="card">
                <a href="#" class="product-item md-height bg-gray d-block">
                    <img src="~/Layout/images/prod_3.png" alt="Image" class="img-fluid">
                </a>
                <div class="p-2">
                    <h2 class="item-title"><a href="#">Blue Shoe High Heels</a></h2>
                    <strong class="item-price"><del>$46.00</del> $28.00</strong>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
                <img src="~/Layout/images/model_5.png" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Denim Jacket</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>

            <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
                <img src="~/Layout/images/prod_1.png" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Leather Green Bag</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
            <div class="star-rating">
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
                <span class="icon-star2 text-warning"></span>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
                <img src="~/Layout/images/model_1.png" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Smooth Cloth</a></h2>
            <strong class="item-price"><del>$46.00</del> $28.00</strong>
        </div>
        <div class="col-lg-4 col-md-6 item-entry mb-4">
            <a href="#" class="product-item md-height bg-gray d-block">
                <img src="~/Layout/images/model_7.png" alt="Image" class="img-fluid">
            </a>
            <h2 class="item-title"><a href="#">Yellow Jacket</a></h2>
            <strong class="item-price">$58.00</strong>
        </div>
    </div>*@