@inject OnlineShop.Services.Contracts.Area.Base.IAttachmentService AttachmentService

@model Guid

@{
    var photos = AttachmentService.GetPhotoUrl(Model).FirstOrDefault();
}
@{
    @*<img class="card-img-top" src="@photos" asp-append-version="true" alt="slide">*@
<<<<<<< HEAD
    <a class="" asp-action="index" asp-controller="Product" asp-route-id="@Model">
=======
    <a class=" md-height bg-gray d-block  " asp-action="index" asp-controller="Product" asp-route-id="@Model">
>>>>>>> 61412acc67ab38b6674945c0f58f2656ed110af2
        <img src="@photos" alt="Image" class="img-fluid" asp-append-version="true">
    </a>
}