<div class="bottom_header dark_skin main_menu_uppercase ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-6 col-3">
                <vc:category />
            </div>
            <div class="col-lg-10 col-md-9 col-sm-6 col-9">
                <partial name="_Navbar" />
            </div>
        </div>
    </div>
</div>