<div class="top-header d-none d-md-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-8">
                <div class="header_topbar_info">
                    <div class="header_offer">
                        <span>ارسال رایگان خرید بیشتر از 100 هزار تومان</span>
                    </div>
                    <div class="download_wrap">
                        <span class="mr-3">دانلود برنامه</span>
                        <ul class="icon_list text-center text-lg-left">
                            <li><a href="#"><i class="fab fa-apple"></i></a></li>
                            <li><a href="#"><i class="fab fa-android"></i></a></li>
                            <li><a href="#"><i class="fab fa-windows"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div class="d-flex align-items-center justify-content-center justify-content-md-end">
                    <div class="lng_dropdown">
                        <select name="countries" class="custome_select">
                            <option value='en' data-image="/layout/assets/images/ir.png" data-title="Farsi">فارسی</option>
                            <option value='en' data-image="/layout/assets/images/eng.png" data-title="English">انگلیسی</option>
                            <option value='fn' data-image="/layout/assets/images/fn.png" data-title="France">فرانسوی</option>
                        </select>
                    </div>
                    <div class="ml-3">
                        <select name="countries" class="custome_select">
                            <option value='GBR' data-title="GBR">تومان</option>
                            <option value='USD' data-title="USD">دلار </option>
                            <option value='EUR' data-title="EUR">یورو</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle-header  light_skin">
    <div class="container">
        <div class="nav_block">
            <a class="navbar-brand" href="index.html">
                <img class="logo_light" src="/layout/assets/images/logo_light.png" alt="logo" />
                <img class="logo_dark" src="/layout/assets/images/logo_dark.png" alt="logo" />
            </a>
            <div class="contact_phone order-md-last">
                <i class="linearicons-phone-wave"></i>
                <span>021-1234567</span>
            </div>
            <div class="product_search_form">
                <partial name="_PrductSearch" />
            </div>
        </div>
    </div>
</div>
<div class="bottom_header light_skin main_menu_uppercase bg_dark mb-4 nav-fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-3">
                <partial name="_Categories" />
            </div>
            <div class="col-lg-9 col-md-8 col-sm-6 col-9">
                <partial name="_Navbar" />
            </div>
        </div>
    </div>
</div>