@{
    var pageTitle = ViewData["Title"] ?? "ASP.NET Core Identity Sample";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Anil z" name="author">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopwise is Powerful features and You Can Use The Perfect Build this Template For Any eCommerce Website. The template is built for sell Fashion Products, Shoes, Bags, Cosmetics, Clothes, Sunglasses, Furniture, Kids Products, Electronics, Stationery Products and Sporting Goods.">
    <meta name="keywords" content="ecommerce, electronics store, Fashion store, furniture store,  bootstrap 4, clean, minimal, modern, online store, responsive, retail, shopping, ecommerce store">

    <!-- SITE TITLE -->
    <title>Shopwise - eCommerce Bootstrap 4 HTML Template</title>
    <!-- Favicon Icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/layout//layout/assets/images/favicon.png">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/layout/assets/css/animate.css">
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="/layout/assets/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">*@
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/layout/assets/css/all.min.css">
    <link rel="stylesheet" href="/layout/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="/layout/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/layout/assets/css/linearicons.css">
    <link rel="stylesheet" href="/layout/assets/css/flaticon.css">
    <link rel="stylesheet" href="/layout/assets/css/simple-line-icons.css">
    <!--- owl carousel CSS-->
    <link rel="stylesheet" href="/layout/assets/owlcarousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/layout/assets/owlcarousel/css/owl.theme.css">
    <link rel="stylesheet" href="/layout/assets/owlcarousel/css/owl.theme.default.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/layout/assets/css/magnific-popup.css">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="/layout/assets/css/slick.css">
    <link rel="stylesheet" href="/layout/assets/css/slick-theme.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/layout/assets/css/style.css">
    <link rel="stylesheet" href="/layout/assets/css/responsive.css">
    <!-- RTL CSS -->
    <link rel="stylesheet" href="/layout/assets/css/rtl-style.css">

    <title>@pageTitle</title>
    <link rel="icon" href="/grow-shop.png" />
    <link rel="stylesheet" href="~/plugins/select2/select2.min.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" asp-append-version="true">
    @*<script src="~/Layout/js/jquery-3.3.1.min.js" asp-append-version="true"></script>
        <script src="/plugins/jquery/jquery.min.js" asp-append-version="true"></script>*@
    <script src="/layout/assets/js/jquery-1.12.4.min.js" asp-append-version="true"></script>
</head>

<body dir="rtl">

    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->
    <!-- Home Popup Section -->
    <div class="modal fade subscribe_popup" id="onload-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="ion-ios-close-empty"></i></span>
                    </button>
                    <div class="row no-gutters">
                        <div class="col-sm-5">
                            <div class="background_bg h-100" data-img-src="/layout/assets/images/popup_img.jpg"></div>
                        </div>
                        <div class="col-sm-7">
                            <div class="popup_content">
                                <div class="popup-text">
                                    <div class="heading_s4">
                                        <h4>اشتراک در خبرنامه ما و دریافت 25٪ تخفیف!</h4>
                                    </div>
                                    <p>برای دریافت به روزرسانی ها و اخبار در مورد محصولات جدید ، در خبرنامه مشترک شوید.</p>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <input name="email" required type="email" class="form-control rounded-0" placeholder="ایمیل خود را وارد کنید">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-fill-line btn-block text-uppercase rounded-0" title="اشتراک" type="submit">اشتراک</button>
                                    </div>
                                </form>
                                <div class="chek-form">
                                    <div class="custome-checkbox">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox3" value="">
                                        <label class="form-check-label" for="exampleCheckbox3"><span>این پنجره را دوباره نشان ندهید!</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Screen Load Popup Section -->
    <!-- START HEADER -->
    <header class="header_wrap">
        <partial name="_HeaderWrap" />
    </header>
    <!-- END HEADER -->
    <!-- START SECTION BANNER -->
    <div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 offset-lg-3">
                    <partial name="_Carousel" />
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION BANNER -->
    <!-- END MAIN CONTENT -->

    <div class="main_content">
        @RenderBody()
    </div>
    <!-- END MAIN CONTENT -->
    <!-- START FOOTER -->
    <footer class="bg_gray">
        <partial name="_Footer" />
    </footer>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

 
    <script src="/layout/assets/js/popper.min.js"></script>
    <script src="/layout/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/layout/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="/layout/assets/js/magnific-popup.min.js"></script>
    <script src="/layout/assets/js/waypoints.min.js"></script>
    <script src="/layout/assets/js/parallax.js"></script>
    <script src="/layout/assets/js/jquery.countdown.min.js"></script>
    <script src="/layout/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/layout/assets/js/isotope.min.js"></script>
    <script src="/layout/assets/js/jquery.dd.min.js"></script>
    <script src="/layout/assets/js/slick.min.js"></script>
    <script src="/layout/assets/js/jquery.elevatezoom.js"></script>
    <script src="/layout/assets/js/scripts.js"></script>

    @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    <script src="/plugins/toastr/toastr.min.js" asp-append-version="true"></script>
    <script src="/plugins/select2/select2.full.min.js" asp-append-version="true"></script>

    @Html.RenderUnobtrusiveAjaxScript()
    @await Component.InvokeAsync("NToastNotify")
    @await RenderSectionAsync("Scripts",required: false)
</body>
</html>