@{
    var pageTitle = ViewData["Title"] ?? "ASP.NET Core Identity Sample";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@pageTitle</title>

    <!-- Google Font: Source Sans Pro -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">*@
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="/dist/css/bootstrap-rtl.css">
    <link rel="stylesheet" href="/dist/css/CsutomRTL.css">
    <link rel="stylesheet" href="/dist/css/custom.css">
    <script src="/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
</head>
<body>

    <partial name="_NavBar" />
    <partial name="_Breadcrumb" />

    <div class="container mb-5">
        <div class="row">

            <div class="uk-child-width-1-2 uk-child-width-1-4@s uk-grid-match" uk-grid>
                <div class="uk-animation-toggle " tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-animation-reverse">
                        <p class="uk-text-center">Fade</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-scale-up uk-animation-reverse">
                        <p class="uk-text-center">Scale Up</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-scale-down uk-animation-reverse">
                        <p class="uk-text-center">Scale Down</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-shake uk-animation-reverse">
                        <p class="uk-text-center">Shake</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-left uk-animation-reverse">
                        <p class="uk-text-center">Left</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-top uk-animation-reverse">
                        <p class="uk-text-center">Top</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom uk-animation-reverse">
                        <p class="uk-text-center">Bottom</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right uk-animation-reverse">
                        <p class="uk-text-center">Right</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-left-small uk-animation-reverse">
                        <p class="uk-text-center">Left Small</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-top-small uk-animation-reverse">
                        <p class="uk-text-center">Top Small</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-small uk-animation-reverse">
                        <p class="uk-text-center">Bottom Small</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right-small uk-animation-reverse">
                        <p class="uk-text-center">Right Small</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-left-medium uk-animation-reverse">
                        <p class="uk-text-center">Left Medium</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-top-medium uk-animation-reverse">
                        <p class="uk-text-center">Top Medium</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-bottom-medium uk-animation-reverse">
                        <p class="uk-text-center">Bottom Medium</p>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-card-body uk-animation-slide-right-medium uk-animation-reverse">
                        <p class="uk-text-center">Right Medium</p>
                    </div>
                </div>
            </div>

            <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: true">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Fade</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>

            <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <h3 class="uk-card-title">Default</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-primary uk-card-body">
                        <h3 class="uk-card-title">Primary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-secondary uk-card-body">
                        <h3 class="uk-card-title">Secondary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 order-md-9">
                @RenderBody()
                <ul uk-accordion>
                    <li class="uk-open">
                        <a class="uk-accordion-title" href="#">Item 1</a>
                        <div class="uk-accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Item 2</a>
                        <div class="uk-accordion-content">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor reprehenderit.</p>
                        </div>
                    </li>
                    <li>
                        <a class="uk-accordion-title" href="#">Item 3</a>
                        <div class="uk-accordion-content">
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat proident.</p>
                        </div>
                    </li>
                </ul>
                <div class="boundary-align uk-panel uk-placeholder">

                    <button class="uk-button uk-button-default uk-float-left" type="button">Justify</button>
                    <div uk-dropdown="pos: bottom-justify; boundary: .boundary-align; boundary-align: true">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>

                    <button class="uk-button uk-button-default uk-float-right" type="button">Center</button>
                    <div uk-dropdown="pos: bottom-center; boundary: .boundary-align; boundary-align: true">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">Item</a></li>
                            <li><a href="#">Item</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div>
                </div>
                <button class="uk-button uk-button-default" type="button" uk-toggle="target: #offcanvas-overlay">Open</button>

                <div class="uk-child-width-1-2@s" uk-grid>
                    <div>
                        <div class="uk-light uk-background-secondary uk-padding">
                            <h3>Light</h3>
                            <p>farasdasssssssssssssssssssssss ipsum asdsssssssssssssssssss sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button class="uk-button uk-button-default">Button</button>
                        </div>
                    </div>
                    <div>
                        <div class="uk-dark uk-background-muted uk-padding">
                            <h3>Dark</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button class="uk-button uk-button-default">Button</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 order-md-3">
                @*<partial name="_SidebarMenu" />*@
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="/plugins/raphael/raphael.min.js"></script>
    <script src="/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="plugins/chart.js/Chart.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    <script src="/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/dist/js/pages/dashboard2.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>