@model string

<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" style="text-align:inherit !important;">
    <div class="carousel-inner lightgallery  ">
        <div data-src="@Model" class="carousel-item  active">
            <img class="img-fluid img-thumbnail " src="@Model" asp-append-version="true" alt="slide">
        </div>
    </div>
</div>