<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
        <span class="ion-android-menu"></span>
    </button>
    <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
        <ul class="navbar-nav">
            <li class="dropdown">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle active" href="#">خانه</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="index.html">مد و لباس 1</a></li>
                        <li><a class="dropdown-item nav-link nav_item active" href="index-2.html">مد و لباس 2</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="index-3.html">مبلمان 1</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="index-4.html">مبلمان 2</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="index-5.html">الکترونیک 1</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="index-6.html">الکترونیک 2</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">صفحات</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="about.html">درباره ما</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="contact.html">تماس با ما</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="faq.html">سؤالات متداول</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="404.html">خطا 404</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="login.html">ورود</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="signup.html">ثبت نام</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="term-condition.html">شرایط و ضوابط</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">محصولات</a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
                        <li class="mega-menu-col col-lg-3">
                            <ul>
                                <li class="dropdown-header">زنانه</li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">بلوز و شومیز</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">تی شرت و پولوشرت</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">شلوار و سرهمی</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">لباس زیر</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">کفش زنانه</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-col col-lg-3">
                            <ul>
                                <li class="dropdown-header">مردانه</li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-cart.html">کفش روزمره</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="checkout.html">کفش تخت</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">کمربند</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="compare.html">اکسسوری مردانه</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">کفش رسمی</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-col col-lg-3">
                            <ul>
                                <li class="dropdown-header">بچه گانه</li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">شلوار و سرهمی</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-left-sidebar.html">کمربند</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">کفش تخت</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">کفش روزمره</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">تی شرت و پولوشرت</a></li>
                            </ul>
                        </li>
                        <li class="mega-menu-col col-lg-3">
                            <ul>
                                <li class="dropdown-header">تجهیزات جانبی</li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">شلوار و سرهمی</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-left-sidebar.html">کمربند</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">کفش تخت</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">کفش روزمره</a></li>
                                <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">تی شرت و پولوشرت</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-lg-flex menu_banners">
                        <div class="col-lg-6">
                            <div class="header-banner">
                                <img src="/layout/assets/images/menu_banner1.jpg" alt="menu_banner1">
                                <div class="banne_info">
                                    <h6>%10 تخفیف</h6>
                                    <h4>محصولات جدید</h4>
                                    <a href="#">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="header-banner">
                                <img src="/layout/assets/images/menu_banner2.jpg" alt="menu_banner2">
                                <div class="banne_info">
                                    <h6>%15 تخفیف</h6>
                                    <h4>مد مردانه</h4>
                                    <a href="#">اکنون خرید کنید</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">وبلاگ</a>
                <div class="dropdown-menu dropdown-reverse">
                    <ul>
                        <li>
                            <a class="dropdown-item menu-link dropdown-toggler" href="#">شبکه ای</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-three-columns.html">3 ستون</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-four-columns.html">4 ستون</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-left-sidebar.html">نوار کناری سمت چپ</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-right-sidebar.html">نوار کناری سمت راست</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-standard-left-sidebar.html">نوار کناری استاندارد چپ</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-standard-right-sidebar.html">نوار کناری استاندارد راست</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item menu-link dropdown-toggler" href="#">ساختمانی</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-three-columns.html">3 ستون</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-four-columns.html">4 ستون</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-left-sidebar.html">نوار کناری سمت چپ</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-masonry-right-sidebar.html">نوار کناری سمت راست</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item menu-link dropdown-toggler" href="#">جزئیات وبلاگ</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-single.html">پیش فرض</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-single-left-sidebar.html">نوار کناری سمت چپ</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-single-slider.html">اسلایدر</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-single-video.html">فیلم</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-single-audio.html">صدا</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a class="dropdown-item menu-link dropdown-toggler" href="#">لیستی</a>
                            <div class="dropdown-menu">
                                <ul>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-list-left-sidebar.html">نوار کناری سمت چپ</a></li>
                                    <li><a class="dropdown-item nav-link nav_item" href="blog-list-right-sidebar.html">نوار کناری سمت راست</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown dropdown-mega-menu">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">فروشگاه</a>
                <div class="dropdown-menu">
                    <ul class="mega-menu d-lg-flex">
                        <li class="mega-menu-col col-lg-9">
                            <ul class="d-lg-flex">
                                <li class="mega-menu-col col-lg-4">
                                    <ul>
                                        <li class="dropdown-header">طرح بندی صفحه خرید</li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-list.html">نمای لیستی فروشگاه</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-list-left-sidebar.html">لیستی نوار کناری سمت چپ</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-list-right-sidebar.html">لیستی نوار کناری سمت راست</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-left-sidebar.html">شبکه ای نوار کناری سمت چپ</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-right-sidebar.html">شبکه ای نوار کناری سمت راست</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-load-more.html">بارگذاری بیشتر</a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-col col-lg-4">
                                    <ul>
                                        <li class="dropdown-header">صفحات دیگر</li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-cart.html">سبد خرید</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="checkout.html">بررسی</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="my-account.html">حساب کاربری</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="wishlist.html">لیست مورد علاقه</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="compare.html">مقایسه</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="order-completed.html">سفارش به پایان رسید</a></li>
                                    </ul>
                                </li>
                                <li class="mega-menu-col col-lg-4">
                                    <ul>
                                        <li class="dropdown-header">صفحات محصول</li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail.html">پیش فرض</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-left-sidebar.html">نوار کناری سمت چپ</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-right-sidebar.html">نوار کناری سمت راست</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="shop-product-detail-thumbnails-left.html">ریز عکس ها سمت چپ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mega-menu-col col-lg-3">
                            <div class="header_banner">
                                <div class="header_banner_content">
                                    <div class="shop_banner">
                                        <div class="banner_img overlay_bg_40">
                                            <img src="/layout/assets/images/shop_banner2.jpg" alt="shop_banner2" />
                                        </div>
                                        <div class="shop_bn_content">
                                            <h6 class="text-uppercase shop_subtitle">مجموعه جدید</h6>
                                            <h5 class="text-uppercase shop_title">٪30 تخفیف</h5>
                                            <a href="#" class="btn btn-white rounded-0 btn-xs text-uppercase">اکنون خرید کنید</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="nav-link nav_item" href="contact.html">تماس با ما</a></li>
        </ul>
    </div>
    <ul class="navbar-nav attr-nav align-items-center">
        <li><a  class="nav-link" asp-area="Admin" asp-controller="Section" asp-action="Create"><i class="linearicons-user"></i></a></li>
        <li><a href="#" class="nav-link"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a></li>
        <li class="dropdown cart_dropdown" id="CustomerCardItems">
            @await Component.InvokeAsync("CustomerCardItem")
        </li>
    </ul>
    <div class="pr_search_icon">
        <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
    </div>
</nav>