<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler side_navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarSidetoggle" aria-expanded="false">
        <span class="ion-android-menu"></span>
    </button>
    <div class="collapse navbar-collapse mobile_side_menu" id="navbarSidetoggle">
        <ul class="navbar-nav">
            <li class="dropdown">
                <a class="nav-link  active" asp-controller="@nameof(OnlineShop.Web.Controllers.HomeController).Replace("Controller","")" asp-action="@nameof(OnlineShop.Web.Controllers.HomeController.Index)">خانه</a>
            </li>
            <li class="dropdown">
                <a class="nav-link  active" asp-controller="@nameof(OnlineShop.Web.Controllers.ProductController).Replace("Controller","")" asp-action="@nameof(OnlineShop.Web.Controllers.ProductController.Shop)">فروشگاه</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">صفحات</a>
                <div class="dropdown-menu">
                    <ul>
                        <li><a class="dropdown-item nav-link nav_item" href="about.html">درباره ما</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="contact.html">تماس با ما</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="faq.html">سؤالات متداول</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="404.html">خطا 404</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="login.html">ورود</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="signup.html">ثبت نام</a></li>
                        <li><a class="dropdown-item nav-link nav_item" href="term-condition.html">شرایط و ضوابط</a></li>
                    </ul>
                </div>
            </li>

            <li><a class="nav-link nav_item" href="contact.html">تماس با ما</a></li>
            <li>
                <div class="product_search_form">
                    <div class="mt-md-2">
                        <partial name="_PrductSearch" />
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav attr-nav align-items-center">
        <li><a class="nav-link" asp-area="Admin" asp-controller="Section" asp-action="Create"><i class="linearicons-user"></i></a></li>
        <li><a href="#" class="nav-link"><i class="linearicons-heart"></i><span class="wishlist_count">0</span></a></li>
        <li class="dropdown cart_dropdown" id="CustomerCardItems">
            @await Component.InvokeAsync("CustomerCardItem")
        </li>
    </ul>
    <div class="pr_search_icon">
        <a href="javascript:void(0);" class="nav-link pr_search_trigger"><i class="linearicons-magnifier"></i></a>
    </div>
</nav>