@model OnlineShop.ViewModels.Area.Base.Products.ProdcutGeneralInfoDto

<div class="tab-style3">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">توضیحات</a>
        </li>
        @{
            if(Model.ProductSpecifications.Any() && Model.ProductSpecifications != null)
            {
                <li class="nav-item">
                    <a class="nav-link" id="Additional-info-tab" data-toggle="tab" href="#Additional-info" role="tab" aria-controls="Additional-info" aria-selected="false">اطلاعات اضافی</a>
                </li>
            }
        }
        <li class="nav-item">
            <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">نظرات (2)</a>
        </li>
    </ul>
    <div class="tab-content shop_info_tab">
        <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت.</p>
            <p>بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
        </div>
        @{
            if(Model.ProductSpecifications.Any() && Model.ProductSpecifications != null)
            {
                <div class="tab-pane fade" id="Additional-info" role="tabpanel" aria-labelledby="Additional-info-tab">
                    <table class="table table-bordered">
                        @foreach(var item in Model.ProductSpecifications)
                        {
                            <tr>
                                <td>@item.SpecificationName</td>
                                <td>@item.SpecificationValue</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        }
        <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
            <div class="comments">
                <h5 class="product_tab_title">2 نظر برای <span>لباس آبی زنانه</span></h5>
                <ul class="list_none comment_list mt-4">
                    <li>
                        <div class="comment_img">
                            <img src="assets/images/user1.jpg" alt="user1" />
                        </div>
                        <div class="comment_block">
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width:80%"></div>
                                </div>
                            </div>
                            <p class="customer_meta">
                                <span class="review_author">ستاره جمشیدی</span>
                                <span class="comment-date">5 اسفند 1399</span>
                            </p>
                            <div class="description">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="comment_img">
                            <img src="assets/images/user2.jpg" alt="user2" />
                        </div>
                        <div class="comment_block">
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div class="product_rate" style="width:60%"></div>
                                </div>
                            </div>
                            <p class="customer_meta">
                                <span class="review_author">وحید سعیدی</span>
                                <span class="comment-date">5 اسفند 1399</span>
                            </p>
                            <div class="description">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="review_form field_form">
                <h5>ارسال نظرات</h5>
                <form class="row mt-3">
                    <div class="form-group col-12">
                        <div class="star_rating">
                            <span data-value="1"><i class="far fa-star"></i></span>
                            <span data-value="2"><i class="far fa-star"></i></span>
                            <span data-value="3"><i class="far fa-star"></i></span>
                            <span data-value="4"><i class="far fa-star"></i></span>
                            <span data-value="5"><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <textarea required="required" placeholder="نظر شما *" class="form-control" name="message" rows="4"></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <input required="required" placeholder="نام خود را وارد کنید *" class="form-control" name="name" type="text">
                    </div>
                    <div class="form-group col-md-6">
                        <input required="required" placeholder="ایمیل خود را وارد کنید *" class="form-control" name="email" type="email">
                    </div>

                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">ارسال نظر</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>