@model OnlineShop.ViewModels.Area.Base.ProductSalePrice.ProductSalePriceDto

<partial name="_CustomValidationSummary" />
@{
    TempData["ParentId"] = Model.ProductId;
}

<form asp-action="Edit" method="post">
    @Html.HiddenFor(r => r.Id)
    @Html.HiddenFor(r => r.ProductId)
    <div class="card _borderTop  _shadow ">
        <div class="card-header bg-light">
            <partial name="_CardHeader" model="CardHeaderTye.Edit" />
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">

                    <CustomInput asp-for="OldPrice" asp-Class="price"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">

                    <CustomInput asp-for="NewPrice" asp-Class="price"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4 che">

                    <CustomInput asp-for="FromDate" asp-Class="persianDatepicker "></CustomInput>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">

                    <CustomCheckBox asp-for="InActive" asp-IsChecked="Model.InActive">  </CustomCheckBox>
                </div>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
</form>