@model OnlineShop.ViewModels.Area.Base.Models.ModelDto

<form asp-action="Edit" method="post">
    @Html.HiddenFor(r => r.Id)
    <div class="card _borderTop  _shadow ">
        <div class="card-header bg-light">
            <partial name="_CardHeader" model="CardHeaderTye.Edit" />
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="Name" class=" col-form-label text-md-left"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="ForeignName" class=" col-form-label text-md-left"></label>
                        <input asp-for="ForeignName" class="form-control" />
                        <span asp-validation-for="ForeignName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group CheckBox">
                        <label asp-for="InActive" class=" col-form-label text-md-left"></label>
                        <input asp-for="InActive" class="" />
                        <span asp-validation-for="InActive" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="UserCode" class=" col-form-label text-md-left"></label>
                        <input asp-for="UserCode" class="form-control" />
                        <span asp-validation-for="UserCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group ">
                        <div class="CheckBox">
                            <label asp-for="InActive" class=" col-form-label text-md-left"></label>
                            <input asp-for="InActive" />
                            <span asp-validation-for="InActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
</form>