@using OnlineShop.Web.Areas.Identity
@{ ViewData["Title"] = "خانه"; }

<div class="row">
    <div class="col-8">
        <div class="jumbotron">
            <p>fishuiogn</p>
        </div>
    </div>
    <div class="col-4">
        <div class="jumbotron bg-dark">
            <p>fishuiogn</p>
        </div>
    </div>
</div>