@model OnlineShop.ViewModels.Area.Base.Coupon.CouponDto
<partial name="_CustomValidationSummary" />

@using(Html.AjaxBeginForm("Create",new AjaxOptions
{
    HttpMethod = "post"
}))
{
    <div class="card _borderTop  _shadow ">
        <div class="card-header bg-light">
            <partial name="_CardHeader" model="CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="Name"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="PercentDiscount"></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="FromDate" asp-Class="persianDatepicker "></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInput asp-for="ToDate" asp-Class="persianDatepicker "></CustomInput>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomInputTextArea asp-columns="4" asp-rows="4" asp-for="Description"></CustomInputTextArea>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <CustomCheckBox asp-for="InActive"></CustomCheckBox>
                </div>
                <br>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
}