@model OnlineShop.ViewModels.Area.Base.ProductGroups.ProductGroupDto

<partial name="_CustomValidationSummary" />

<form asp-action="Create" method="post">
    <div class="card">

        <div class="card-header">
            <partial name="_CardHeader" model="OnlineShop.Common.Enum.CardHeaderTye.Create" />
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">
                    <div class="form-group">
                        <label asp-for="Name" class=" col-form-label text-md-left"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-12  col-xl-4">

                    <div class="form-group">
                        <label>Minimal</label>
                        <select class="form-control select2 ">
                            <option selected="selected">انتخاب کنید</option>
                            <option style="text-align:right !important" class="text-right">محمد</option>
                            <option style="text-align:right !important">محمد61</option>
                            <option style="text-align:right !important">محمد15</option>
                            <option style="text-align:right !important">محمد41</option>
                            <option style="text-align:right !important">محمد31</option>
                            <option style="text-align:right !important">محمد11</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_CardFooter">
    </div>
</form>